.todo {
    display:flex;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 35px;
    box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12)
;

    padding:10px;
    margin:10px;
    background-color: rgb(244, 233, 205);
}

.todo__box{
    display:flex;
    align-items: center;
}

.todo__box > h2 {
    margin-left: 10px;
    font-weight: 300;
}

.todo__cancel {
    color:red;
    padding:5px;
    margin-left: 20px;
}

